@import "tailwindcss";

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(1rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@theme {
  --animate-slideInRight: slideInRight 0.2s ease-out;
  /* Definimos los colores de la marca */
  --color-brand-primary: #ad3400;
  --color-brand-accent: #eab308;
  --color-brand-cream: #fefae0;
  --color-brand-dark: #1a1a1b;

  /* Opcional: Crear una escala completa para el color principal */
  --color-rust-50: #fff1f0;
  --color-rust-100: #ffdfe0;
  --color-rust-500: #ad3400;
  /* Tu color original */
  --color-rust-700: #8a2a00;
  --color-rust-900: #4a1700;
}